name: CI-CD Pipeline

on:
  push:
    branches:
      - main
      - qa
      - dev

env:
  REGISTRY: bandarudocker
  IMAGE_NAME: myapp

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & Push Image
      run: |
          docker build -t $REGISTRY/$IMAGE_NAME:${{ github.ref_name }} -f app/Dockerfile app
          docker push $REGISTRY/$IMAGE_NAME:${{ github.ref_name }}
